<section class="content">
    <article>

        <img class="listing-photo" alt="Foto" src="{{imovel?.url_foto}}">
        <section class="listing-description">
            <h2 class="listing-heading">{{imovel?.nome}}</h2>
            <p class="listing-location">
                {{imovel?.cidade}}, {{imovel?.estado}}
            </p>
        </section>

        <section class="listing-features">
            <h2 class="section-heading">Informações para aluguar</h2>
            <ul>
                @for(info of imovel?.aluguel;  track $index) {
                    <li>{{info.chave}}: R$ {{info.valor}}</li>
                }
            </ul>
        </section>
       
    </article>



</section>

